    <div class="box-one">
        <div class="icon-medium-size-f24" style="color: #A3A3A3; margin-right: 12px;">
            <i class="far fa-square"></i>
        </div>
        <div class="text-left">
            <h4 class="text-f14" style="color: #222" onclick="inprocesstask()">New task</h4>
            <p class="text-sub" style="margin-top:4px;">
                Assigned  3 minutes ago to
                <span style="color: #222">User</span>  
                <span class="Assign-box"> • <span data-toggle="modal" data-target="#AssignTask">Reassign</span></span>
            </p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="AssignTask" tabindex="-1" role="dialog" aria-labelledby="AssignTaskTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="color: #222">
                        <!-- ปุ่ม x -->
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- เนื้อหา -->
                        <div class="mt-2">
                            <h3 class="text-f16">Assign this task to a new user</h3>
                            <p class="text-f12 mt-2">Select an assignee for this task:</p>
                            <div class="form-line">
                                <input class="form-control form-control-sm" type="text"  placeholder="Start typing assignee's name"/>
                            </div>
                            <div class="modalTask-listUser">
                                <span class="user-list">
                                    <div class="img-small" style="background: #B8E17D"> 
                                        <p>o</p>
                                    </div>
                                    <span class="text-nameUser">
                                        John
                                    </span>
                                </span>
                            </div>
                            <div style="margin-top:24px">
                                <button class="btn btn-unclick" disabled>
                                    Assign
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
