<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="node_modules/air-datepicker/dist/css/datepicker.min.css">
<link rel="stylesheet" href="node_modules/chosen-js/chosen.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <div class="createContentBox">
        <!-- Head -->
        <header class="content-head btn-setright tab-active box-left-right" id="head-bengin">
            <div class="box-left">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="btn btn-normal active" id="pills-Items-tab" data-toggle="pill" href="#pills-Items" role="tab" aria-controls="pills-Items" aria-selected="true">
                            <i class="fas fa-list"></i> 3 <span class="tabHead-InTem">Items</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-normal" id="pills-Dataform-tab" data-toggle="pill" href="#pills-Dataform" role="tab" aria-controls="pills-Dataform" aria-selected="false">
                            <i class="far fa-clipboard"></i> <span class="tabHead-InTem">Data form</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-normal" id="pills-Properties-tab" data-toggle="pill" href="#pills-Properties" role="tab" aria-controls="pills-Properties" aria-selected="false">
                            <i class="fas fa-cog"></i> <span class="tabHead-InTem">Properties</span>
                        </a>
                    </li>
                </ul>
            </div>   
            <div class="box-right">
                <div class="box-one">
                    <div class="img-small box-right-img" style="background: #B8E17D;">
                        <p>O</p>
                    </div>
                    <div>
                        <p class="text-sub">Created on May 2 at 8:59 AM</p>
                        <p class="text-sub">by <span style="color:#222">Johny</span></p>
                    </div>
                </div>
                <div>
                    <button class="btn btn-normal" id="LeftSide-List" onclick="openRightSide()">
                        List
                    </button>
                    <button class="btn btn-normal" id="RightSide-Detail" onclick="openLeftSide()">
                        Details
                    </button>
                </div>
            </div>        
        </header> 
    
        <!-- Body -->
        <div class="content-body-headTitle64Load" >
            <div id="pills-tabContent" class="tab-content">
                <!-- Tab :: Item -->
                <div class="tab-pane fade show active" id="pills-Items" role="tabpanel" aria-labelledby="pills-Items-tab">
                    <div class="text-f12"style="background: #E1EBEF">
                        back to top level > name group
                    </div>
                    <div class="box-two-side">
                        <!-- ซ้าย -->
                        <div class="box-left-side box-scroll" id="LeftSideBox-List" style="border-top: 1px solid#e1ebef;">
                            <div class="tab">
                                <!-- Group name -->
                                <button class="tablinks tab-button box-one" onclick="openItem(event, 'groupname')" id="defaultOpen">                                       
                                    <i class="fas fa-folder" style="font-size: 38px; color:#d6f7d3; margin-right: 12px;"></i>                                   
                                    <div class="text-left">
                                        <h4 class="text-f14" style="color: #959595">New Group</h4>
                                    </div>
                                </button>
                                <!-- task -->
                                <button class="tablinks tab-button box-normal" onclick="openItem(event, 'task')">
                                    <div class="box-one">

                                        <div class="icon-medium-size-f16" style="color: #A3A3A3; background: #E8E8E8; margin-right: 12px;">
                                            <i class="far fa-square"></i>
                                        </div>
                                        <div class="text-left">
                                            <h4 class="text-f14" style="color: #222">New task</h4>
                                            <p class="text-f12" style="color: #222; margin-top:4px;">No assignees</p>
                                        </div>
                                    </div>
                                </button>
                                <!-- approval -->
                                <button class="tablinks tab-button box-normal" onclick="openItem(event, 'approval')">
                                    <div class="box-one">
                                        <div class="icon-medium-size-f16" style="color: #A3A3A3; background: #E8E8E8; border-radius: 20px; margin-right: 12px;">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="text-left">
                                            <h4 class="text-f14" style="color: #222">New task</h4>
                                            <p class="text-f12" style="color: #222; margin-top:4px;">No assignees</p>
                                        </div>
                                    </div>
                                </button>
                                <!-- group -->
                                <button class="tablinks tab-button box-normal" onclick="openItem(event, 'group')">
                                    <div class="box-one">
                                        <i class="fas fa-folder" style="font-size: 38px; color:#E8E8E8; margin-right: 12px;"></i>
                                        <div class="text-left">
                                            <h4 class="text-f14" style="color: #222">New Group</h4>
                                        </div>
                                    </div>
                                    <!-- ****ยังกดเข้าไปในกลุ่มไม่ได้ค่ะ อยากให้กดแล้วเข้าไปในกลุ่มแต่ไม่เปลี่ยน link -->
                                    <div class="link-ingroup" onclick="ingroup()">
                                        2 items
                                    </div>
                                </button>
                            </div>
                        </div>
                        <!-- ขวา -->
                        <div class="box-right-side box-scroll" id="RightSideBox-Detail" style="border-top: 1px solid#e1ebef;">
                            <!-- group name -->
                            <div id="groupname" class="tabcontent">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <!-- group name -->
                                    <div class="tab-pane fade show active" id="v-pills-start" role="tabpanel" aria-labelledby="v-pills-start-tab">
                                        <!-- Header of group name -->
                                        <header class="btn-setright">
                                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="btn btn-normal active" id="pills-ProcessDetail-tab" data-toggle="pill" href="#pills-ProcessDetail" role="tab" aria-controls="pills-ProcessDetail" aria-selected="true">
                                                        <span>Group details</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </header>
                                        <!-- เนื้อหาแต่ละ tab -->
                                        <div class="tab-content" id="pills-tabContent">
                                            <!-- group Detail -->
                                            <div class="tab-pane fade show active" id="pills-ProcessDetail" role="tabpanel" aria-labelledby="pills-ProcessDetail-tab">
                                                <!-- Group title -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Grouptitle">Group title</label>
                                                    </div>
                                                    <div class="label-normal">
                                                        <label>group</label>
                                                    </div>
                                                </div>
                                                <!-- Tasks can be completed -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Taskscanbecompleted">Tasks can be completed</label>
                                                    </div>
                                                    <div class="label-normal" style="display: flex">
                                                        <div class="icon-small-size" style="margin:5px 4px 0 0;">
                                                            <i class="fas fa-list"></i>
                                                        </div>
                                                        <label>One by one</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Task -->
                            <div id="task" class="tabcontent">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-Task" role="tabpanel" aria-labelledby="v-pills-Task-tab">
                                        <!-- Header new task -->
                                        <header class="btn-setright">
                                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="btn btn-normal active" id="pills-ProcessDetail-task-tab" data-toggle="pill" href="#pills-ProcessDetail-task" role="tab" aria-controls="pills-ProcessDetail-task" aria-selected="true">
                                                        <span>Task details</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="btn btn-normal" id="pills-FieldsVisibility-task-tab" data-toggle="pill" href="#pills-FieldsVisibility-task" role="tab" aria-controls="pills-FieldsVisibility-task" aria-selected="false">
                                                        <span>Fields visibility</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </header>
                                        <div class="tab-content" id="pills-tabContent">
                                            <!-- task DETAIL -->
                                            <div class="tab-pane fade show active" id="pills-ProcessDetail-task" role="tabpanel" aria-labelledby="pills-ProcessDetail-task-tab">
                                                <!-- Task title -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="tasktitle">Task title</label>
                                                    </div>
                                                    <div class="label-normal">
                                                        <label>task</label>
                                                    </div>
                                                </div>
                                                <!-- Type -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Taskscanbecompleted">Type</label>
                                                    </div>
                                                    <div class="label-normal">
                                                        <label>Task</label>
                                                    </div>
                                                </div>
                                                <!-- assign candi -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Assignmentcandidates">Assignment candidates </label>
                                                    </div>
                                                    <div class="label-normal" style="display: flex">
                                                        <div class="icon-small-size" style="color:#959595 ;background: #e8e8e8; margin:5px 4px 0 0;">
                                                            <i class="fas fa-users"></i>
                                                        </div>
                                                        <label>All Users</label>
                                                    </div>
                                                </div>
                                                <!-- Descri -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Description">Description</label>
                                                    </div>
                                                    <div class="label-normal">
                                                        <label>Not set</label>
                                                    </div>
                                                </div>
                                                <!-- Due date -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                            <label>Due date</label>
                                                    </div>
                                                    <div class="label-normal" style="display: flex">
                                                        <div class="icon-small-size" style="margin:5px 4px 0 0;">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </div>
                                                        <label>Not set</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- FieldsVisibility -->
                                            <div class="tab-pane fade" style="padding-right: 12px" id="pills-FieldsVisibility-task" role="tabpanel" aria-labelledby="pills-FieldsVisibility-task-tab">
                                                <div class="text-sub" style="margin: 24px 0 8px">
                                                    You can hide fields not related to this task. Make required all fields that should be filled in as a part of working on this task
                                                </div>
                                                <div class="box-section">
                                                    <!-- ชื่อsection -->
                                                    <div class="box-sectionHead box-normal">
                                                        <div class="box-normal-left">
                                                            <i class="fas fa-list" style="color: #959595; margin-right: 8px"></i><span>Section 1</span>                                                     
                                                        </div> 
                                                    </div>
                                                    <div class="box-sectionBody" style="margin-top:12px;"> 
                                                        <form>
                                                            <div class="form-group row form-line">
                                                                <label class="col-sm-3 col-form-label">Sample form field</label>
                                                                <div class="col-sm-4" style="display:flex;">
                                                                    <input class="form-control form-control-sm" type="text" value="Text-input" disabled>
                                                                    <div style="color: #cacaca; margin-left:8px; align-self: center;">
                                                                        <i class="fas fa-pen"></i>
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                            <div class="form-group row form-line">
                                                                <label class="col-sm-3 col-form-label">Sample form field</label>
                                                                <div class="col-sm-4" style="display:flex;">
                                                                    <input class="form-control form-control-sm" type="text" value="Text-input" disabled>
                                                                    <div style="color: #cacaca; margin-left:8px; align-self: center;">
                                                                        <i class="fas fa-star-of-life"></i>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </form>                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Aproval -->
                            <div id="approval" class="tabcontent"> 
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-Approval" role="tabpanel" aria-labelledby="v-pills-Approval-tab">
                                        <header class="btn-setright">
                                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="btn btn-normal active" id="pills-ProcessDetail-approval-tab" data-toggle="pill" href="#pills-ProcessDetail-approval" role="tab" aria-controls="pills-ProcessDetail-approval" aria-selected="true">
                                                        <span>Task details</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="btn btn-normal" id="pills-FieldsVisibility-approval-tab" data-toggle="pill" href="#pills-FieldsVisibility-approval" role="tab" aria-controls="pills-FieldsVisibility-approval" aria-selected="false">
                                                        <span>Fields visibility</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </header>
                                        <div class="tab-content" id="pills-tabContent">
                                            <!-- Aproval Detail -->
                                            <div class="tab-pane fade show active" id="pills-ProcessDetail-approval" role="tabpanel" aria-labelledby="pills-ProcessDetail-approval-tab">
                                                <!-- Aproval title -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="tasktitle">Task title</label>
                                                    </div>
                                                    <div class="label-normal">
                                                        <label>task</label>
                                                    </div>
                                                </div>
                                                <!-- Type -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Taskscanbecompleted">Type</label>
                                                    </div>
                                                    <div class="label-normal">
                                                        <label>Approval</label>
                                                    </div>
                                                </div>
                                                <!-- assign candi -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Assignmentcandidates">Assignment candidates </label>
                                                    </div>
                                                    <div class="label-normal" style="display: flex">
                                                        <div class="icon-small-size" style="color:#959595 ;background: #e8e8e8; margin:5px 4px 0 0;">
                                                            <i class="fas fa-users"></i>
                                                        </div>
                                                        <label>All Users</label>
                                                    </div>
                                                </div>
                                                <!-- Descri -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Description">Description</label>
                                                    </div>
                                                    <div class="label-normal">
                                                        <label>Not set</label>
                                                    </div>
                                                </div>
                                                <!-- Due date -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label>Due date</label>
                                                    </div>
                                                    <div class="label-normal" style="display: flex">
                                                        <div class="icon-small-size" style="margin:5px 4px 0 0;">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </div>
                                                        <label>Not set</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Field -->
                                            <div class="tab-pane fade" style="padding-right: 12px" id="pills-FieldsVisibility-approval" role="tabpanel" aria-labelledby="pills-FieldsVisibility-approval-tab">
                                                <div class="text-sub" style="margin: 24px 0 8px">
                                                    You can hide fields not related to this task. Make required all fields that should be filled in as a part of working on this task
                                                </div>
                                                <div class="box-section">
                                                    <!-- ชื่อsection -->
                                                    <div class="box-sectionHead box-normal">
                                                        <div class="box-normal-left">
                                                            <i class="fas fa-list" style="color: #959595; margin-right: 8px"></i><span>Section 1</span>                                                     
                                                        </div> 
                                                    </div>
                                                    <div class="box-sectionBody" style="margin-top:12px;">                                                      
                                                        <form>
                                                            <div class="form-group row form-line">
                                                                <label class="col-sm-3 col-form-label">Sample form field</label>
                                                                <div class="col-sm-4" style="display:flex;">
                                                                    <input class="form-control form-control-sm" type="text" value="Text-input" disabled>
                                                                    <div style="color: #cacaca; margin-left:8px; align-self: center;">
                                                                        <i class="fas fa-pen"></i>
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                            <div class="form-group row form-line">
                                                                <label class="col-sm-3 col-form-label">Sample form field</label>
                                                                <div class="col-sm-4" style="display:flex;">
                                                                    <input class="form-control form-control-sm" type="text" value="Text-input" disabled>
                                                                    <div style="color: #cacaca; margin-left:8px; align-self: center;">
                                                                        <i class="fas fa-star-of-life"></i>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </form>      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Group -->
                            <div id="group" class="tabcontent">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-Group" role="tabpanel" aria-labelledby="v-pills-Group-tab">
                                        <!-- Header of Group -->
                                        <header class="btn-setright">
                                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="btn btn-normal active" id="pills-Groupdetails-tab" data-toggle="pill" href="#pills-Groupdetails" role="tab" aria-controls="pills-Groupdetails" aria-selected="true">
                                                        <span>Group details</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </header>
                                        <!-- เนื้อหาแต่ละ tab -->
                                        <div class="tab-content" id="pills-tabContent">
                                            <!-- Group details -->
                                            <div class="tab-pane fade show active" id="pills-Groupdetails" role="tabpanel" aria-labelledby="pills-Groupdetails-tab">
                                                <!-- Group title -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Grouptitle">Group title</label>
                                                    </div>
                                                    <div class="label-normal">
                                                        <label>group</label>
                                                    </div>
                                                </div>
                                                <!-- Tasks can be completed -->
                                                <div class="form-line">
                                                    <div class="label-w150">
                                                        <label for="Taskscanbecompleted">Tasks can be completed</label>
                                                    </div>
                                                    <div class="label-normal" style="display: flex">
                                                        <div class="icon-small-size" style="margin:5px 4px 0 0;">
                                                            <i class="fas fa-list"></i>
                                                        </div>
                                                        <label>One by one</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab :: Dataform -->
                <div class="tab-pane fade" id="pills-Dataform" role="tabpanel" aria-labelledby="pills-Dataform-tab">
                    <div style="overflow-y: auto; height: 100%;">
                        <div style="width: 640px;">
                            <div class="box-section">
                                <div class="box-sectionHead box-normal">
                                    <div class="box-normal-left">
                                        <i class="fas fa-list" style="color: #959595; margin-right: 8px"></i>
                                        <span>Section 1</span>
                                    </div>
                                </div>
                                <div class="box-sectionBody">
                                    <form>
                                        <div class="form-group row form-line">
                                            <label class="col-sm-3 col-form-label">Sample form field</label>
                                            <label class="text-sub col-sm-9 col-form-label">Text</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab :: Properties -->
                <div class="tab-pane fade" id="pills-Properties" role="tabpanel" aria-labelledby="pills-Properties-tab">
                    <div style="border: 1px solid #e1ebef; padding: 16px;">
                        <div class="properties-box">  
                            <label for="Template editors">Template editors</label>
                            <div class="properties-content">
                                <div class="img-small" style="background: #B8E17D; margin-right: 4px;">
                                    <p>O</p>
                                </div>
                                <span>Johny</span>
                            </div> 
                        </div>
                        <div class="properties-box">  
                            <label for="Template editors">Description</label>
                            <div class="properties-content">
                                <span>Not set</span>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/chosen-js/chosen.jquery.min.js"></script>
<script src="node_modules/air-datepicker/dist/js/datepicker.min.js"></script>
<script src="node_modules/air-datepicker/dist/js/i18n/datepicker.en.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/Dropdown.js"></script>
<script src="assets/js/form.js"></script>
<script src="assets/js/modal.js"></script>
<script src="assets/js/radio.js"></script>
<script src="assets/js/select.js"></script>
<script src="assets/js/displaycontent.js"></script>
<script src="assets/js/additem.js"></script>