<button class="tablinks tab-button box-normal taskdefault" onclick="openItem(event, 'task')">
    <div class="box-one">
        <div id="task-icon" class="icon-medium-size-f16" style="color: #A3A3A3; background: #E8E8E8; margin-right: 12px;">
            <i id="task-i" class="far fa-square"></i>
        </div>
        <div class="text-left">
            <h4 class="text-f14" style="color: #959595">New task</h4>
            <p class="text-sub" style="margin-top:4px;">No assignees</p>
        </div>
    </div>
    <div class="icon-btn" onclick="deleteItem(this,'task')">
        <i class="fas fa-trash-alt"></i>
    </div>
</button>

<div id="task" class="tabcontent">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active tab-Header" id="v-pills-Task" role="tabpanel" aria-labelledby="v-pills-Task-tab">
            <!-- Header new task -->
            <header class="btn-setright">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="btn btn-normal active listST" id="pills-ProcessDetail-task-tab" data-toggle="pill" href="#pills-ProcessDetail-task" role="tab" aria-controls="pills-ProcessDetail-task" aria-selected="true">
                            <span>Task<span class="headerMobile-point">...</span> <span class="headerMobile-text">details</span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-normal listND" id="pills-FieldsVisibility-task-tab" href="#pills-FieldsVisibility-task" data-toggle="pill" role="tab" aria-controls="pills-FieldsVisibility-task" aria-selected="false">
                            <span>Fields<span class="headerMobile-point">...</span> <span class="headerMobile-text">visibility</span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-normal listTH" id="pills-Condition-task-tab" href="#pills-Condition-task" data-toggle="pill" role="tab" aria-controls="pills-Condition-task" aria-selected="false">
                            <span>Conditions</span>
                        </a>
                    </li>
                </ul>
            </header>
            <div class="tab-content tab-body" id="pills-tabContent">
                <!-- Task DETAIL -->
                <div class="tab-pane fade show active ST" id="pills-ProcessDetail-task" role="tabpanel" aria-labelledby="pills-ProcessDetail-task-tab">
                    <!-- Task title -->
                    <div class="form-group row form-line">
                        <label class="col-sm-3 col-form-label">Task title</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm inputvalidate" type="text">
                            <p class="text-error">Text is required</p>
                        </div>
                    </div>
                    <!-- Type -->
                    <div class="form-group row form-line">
                        <label class="col-sm-3 col-form-label">Type</label>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio typeItem">
                                <input type="radio" id="customRadio3" class="custom-control-input" checked>
                                <label class="custom-control-label" style="padding-top:4px" for="customRadio3">Task</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio4" class="custom-control-input" onclick="radiochangeTask(2)">
                                <label class="custom-control-label" style="padding-top:4px" for="customRadio4">Approval</label>
                            </div>
                        </div>
                    </div>
                    <!-- assign candi-->
                    <div class="form-group row form-line">
                        <label for="Processtitle" class="col-sm-3 col-form-label">Assignment candidates</label>
                        <div class="col-sm-9">
                            <select data-placeholder="Select users or groups who can work on this task" class="chosen-select" multiple>
                                <option value=""></option>
                                <option>All user</option>
                                <optgroup label="HR">
                                    <option>All HR</option>
                                    <option>New York Giants</option>
                                    <option>Philadelphia Eagles</option>
                                    <option>Washington Redskins</option>
                                </optgroup>
                                <optgroup label="Salse">
                                    <option>All salse</option>
                                    <option>Detroit Lions</option>
                                    <option>Green Bay Packers</option>
                                    <option>Minnesota Vikings</option>
                                </optgroup>
                                <optgroup label="Marketing">
                                    <option>All marketing</option>
                                    <option>Carolina Panthers</option>
                                    <option>New Orleans Saints</option>
                                    <option>Tampa Bay Buccaneers</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <!-- Descri -->
                    <div class="form-group row form-line">
                        <label for="Processtitle" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea style="font-size: 12px;" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Provide detailed instructions on how to use this process (optional). Instructions will be available to all process participants"></textarea>
                        </div>
                    </div>
                    <!-- Due date -->
                    <div class="form-group row form-line">
                        <label class="col-sm-3 col-form-label">Due date</label>
                        <div class="col-sm-4">
                            <select class="form-control form-control-sm duedatechange">
                                <option>Not set</option>
                                <option>After process start</option>
                                <option>After previous task complete</option>
                                <option>Before process deadline</option>
                            </select>
                            <div class="date-box">
                                <input class="form-control form-control-sm" type="text" disabled>
                                <select class="form-control form-control-sm" disabled>
                                    <option>Bussiness day</option>
                                    <option>Calender days</option>
                                    <option>Weeks</option>
                                    <option>Months</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FieldsVisibility -->
                <div class="tab-pane fade ND" style="padding-right: 12px" id="pills-FieldsVisibility-task" role="tabpanel" aria-labelledby="pills-FieldsVisibility-task-tab">
                    <div class="text-sub" style="margin: 24px 0 8px">
                        You can hide fields not related to this task. Make required all fields that should be filled in as a part of working on this task
                    </div>
                    <div class="box-section">
                        <div class="box-sectionHead box-normal">
                            <div class="box-normal-left">
                                <i class="fas fa-list" style="color: #959595; margin-right: 8px"></i>
                                <span>Section 1</span>                                                     
                            </div>
                        </div>
                        <div class="box-sectionBody" style="margin-top:12px;">   
                            <form>
                                <div class="form-group row form-line">
                                    <label class="col-sm-3 col-form-label">Sample form field</label>
                                    <div class="col-sm-4" style="display: flex">
                                        <input class="form-control form-control-sm" type="text" value="Text-input" disabled>
                                        <!-- ****dropdown ต้องกดรอบๆicon เท่านั้นถึงจะแสดงผล -->
                                        <div class="dropdown">
                                            <button onclick="TaskDropdown()" class="btn dropbtn">
                                                <i id="yourchoiceTask" class="far fa-eye-slash"></i>  
                                            </button>
                                            <div id="DropdownSectionTask" class="dropdown-contentSection dropdown-sizeField">
                                                <div onclick="ChooseVisibilityTask(1)">
                                                    <i class="far fa-eye-slash"></i> Hidden
                                                </div>
                                                <div onclick="ChooseVisibilityTask(2)">
                                                    <i class="far fa-eye"></i>  Read-only
                                                </div>
                                                <div onclick="ChooseVisibilityTask(3)">
                                                    <i class="fas fa-pen"></i>  Editable
                                                </div>
                                                <div onclick="ChooseVisibilityTask(4)">
                                                    <i class="fas fa-star-of-life"></i> Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>                                                     
                        </div>
                    </div>
                </div>
                <!-- Condition -->
                <div class="tab-pane fade TH" id="pills-Condition-task" role="tabpanel" aria-labelledby="pills-Condition-task-tab">
                    <div class="form-group row form-line">
                        <label class="col-sm-3 col-form-label">Task is created</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm Conditionchoice">
                                <option>Always</option>
                                <option>If All conditions are met</option>
                                <option>If Any conditions is met</option>
                            </select>
                            <div class="box-condition">
                                <ul>
                                    <!-- Condition 1 ไม่มี conditiontag -->
                                    <li>
                                        <div class="box-one" style="margin-right: 8px;">
                                            <select class="form-control form-control-sm" style="margin-right: 12px;">
                                                <option>Sample from field</option>
                                            </select>
                                            <select class="form-control form-control-sm">
                                                <option>is filled in</option>
                                                <option>is not filed in</option>
                                                <option>is equal to</option>
                                                <option>is not equal to</option>
                                                <option>starts with</option>
                                                <option>ends with</option>
                                                <option>contains</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn btn-normal addCondition" style="margin-left: 50px;">
                                    <i class="fas fa-plus"></i> Add condition
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>