@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto-Regular, Arial;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

.focus-noBoxShadow:focus, .drop-btn-item-section:focus, .mini-icon-btn:focus, .btn-modelUser-delete:focus, .btn-icon-add:focus, .btn-unclick:focus, .btn-green:focus, .btn-delete:focus, .btn-normal:focus, .dropbtn:focus, .dropbtnprocess:focus, .btn-icon-link:focus, .btn-groupDelete:focus, .btn-setting:focus, select:focus, input:focus, textarea:focus, .btn:focus {
  box-shadow: 0 0 0px !important;
}

.btn {
  height: 32px;
}

input:focus, textarea:focus {
  border: 1.5px solid #2e9df0;
}

select {
  border: 1px solid #ced4da !important;
}
select option {
  z-index: 10;
}

.form-control-sm {
  font-size: 14px;
}

#login-box {
  height: 100%;
  padding-top: 64px;
  background-image: linear-gradient(to right, #141e30, #243b55);
  display: flex;
  justify-content: center;
}

#form-style {
  width: 370px;
  margin-top: 30px;
  padding: 25px;
  color: white;
  background: rgba(226, 226, 226, 0.3);
  border-radius: 5px;
}

.logo {
  width: 315px;
  height: 96px;
  margin: auto;
  display: block;
}

/* ------------------------------ */
/* ------------------------------ */
.navbar a {
  font-size: 14px;
  color: #222222;
}

.navbar a:hover {
  color: #2e9df0;
  text-decoration: none;
}

@media (max-width: 450px) {
  #dropdown-username {
    display: none;
  }
}
.wrapper_main {
  height: calc(100% - 57px);
}

/* -----header ของ body----- */
.content-head, .head-title-h64, .head-title-h90 {
  height: 64px;
  padding: 0 32px;
}

.head-title-h64, .head-title-h90 {
  border-bottom: 1px solid #e1ebef;
}

.head-title-h90 {
  height: 90px;
  padding: 16px 48px 16px 32px;
}

.content-head-inprocess {
  height: 64px;
  padding: 0px;
}

/* ----- Body Part ----- */
/*1. เนื้อหาที่ มีหัวข้ออันเดียวเท่านั้น 
[Template, Process]*/
.content-body-OnlyContentHead, .content-body-OnlyContentHead-startProcess {
  padding: 0 32px;
  height: calc(100% - 68px);
  overflow-y: scroll;
}
@media (max-width: 767.98px) {
  .content-body-OnlyContentHead, .content-body-OnlyContentHead-startProcess {
    padding: 0;
  }
}

/*1.1 เนื้อหาที่ มีหัวข้ออันเดียวเท่านั้น 
[Start Process]*/
@media (max-width: 767.98px) {
  .content-body-OnlyContentHead-startProcess {
    padding: 0 32px;
  }
}

.createContentBox {
  padding: 0;
  height: calc(100% - 65px);
}

/* 2. เนื้อหาที่มี 2หัวข้อ อันนึงคือ headtitle สูง64 กับ header สูง64 
[CreateTem, EditTem, InTem]*/
.content-body-headTitle64, .content-body-headTitle64Load {
  padding: 0 32px;
  height: calc(100% - 65px);
}
@media (max-width: 490px) {
  .content-body-headTitle64, .content-body-headTitle64Load {
    padding: 0 8px;
  }
}

.content-body-headTitle64Load {
  height: calc(100% - 22px);
}

.content-body-headTitle90 {
  padding: 0 32px;
  height: calc(100% - 91px);
}

.content-body-OnlyContentHead-webSetting {
  padding: 0 32px;
  height: calc(100% - 64px);
}

/* ------------------------------ */
/* ------------------------------ */
.template, .process {
  border: 1px solid #e1ebef;
}
.template .template-text-box, .process .template-text-box, .process .process-text-box {
  margin: 5px 8px 0;
}
.template li, .process li {
  padding: 0 12px;
  height: 64px;
  border-bottom: 1px solid #e1ebef;
  position: relative;
  overflow: hidden;
}
.template li:last-child, .process li:last-child {
  border-bottom: 0;
}
.template li .template-btn-set, .process li .template-btn-set {
  position: absolute;
  right: -220px;
  transition: 0.2s;
}
.template li:hover, .process li:hover {
  cursor: pointer;
  background: #3aaaff17;
}
.template li:hover .template-text-box h3, .template li:hover .process .process-text-box h3, .process li:hover .template-text-box h3, .process li:hover .process-text-box h3 {
  color: #2e9df0 !important;
}
.template li:hover .template-btn-set, .process li:hover .template-btn-set {
  transition: 0.2s;
  right: 10px;
}

/* ------------------------------ */
/* ------------------------------ */
#LeftSide-List, #RightSide-Detail {
  display: none;
}

.headerMobile-point {
  display: none;
}

@media (max-width: 490px) {
  .tabHead-CreateTem {
    display: none;
  }

  #RightSideBox-Detail {
    padding: 16px 10px 0 10px;
  }

  .headerMobile-point {
    display: inline;
  }

  .headerMobile-text {
    display: none;
  }
}
@media (max-width: 1022px) {
  #LeftSide-List {
    display: block;
  }

  #RightSideBox-Detail {
    display: none;
  }
}
.content-body-headTitle64 .tab-content, .content-body-headTitle64Load .tab-content, .content-body-headTitle64 .tab-pane, .content-body-headTitle64Load .tab-pane {
  height: 100%;
}

.box-condition {
  display: none;
}
.box-condition li {
  margin: 8px 0 8px 50px;
  padding: 8px 0px 8px 0;
  border-top: 1px solid #e1ebef;
  border-bottom: 1px solid #e1ebef;
  position: relative;
}
.box-condition li .conditionTag {
  font-size: 11px;
  color: #959595;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  border-radius: 11px;
  margin-right: 6px;
  padding: 2px 6px;
  position: absolute;
  right: 100%;
}

.delete-condition {
  cursor: pointer;
}

.box-section {
  border: 1px solid #e1ebef;
}
.box-section .box-sectionHead {
  background: #f5f5f5;
  height: 40px;
  padding: 0 12px;
  font-size: 16px;
}
.box-section .box-sectionHead #section-btn-delete {
  display: none;
}
.box-section .box-sectionHead:hover #section-btn-delete {
  display: block;
}
.box-section .box-sectionBody {
  padding: 0 12px;
  font-size: 12px;
}
.box-section .box-sectionBody .sectionBody-head {
  display: flex;
  padding: 0 18px;
}
.box-section .box-sectionBody .sectionBody-head .sectionBody-headleft {
  margin-right: 8px;
  flex: 2;
  margin-top: 6px;
}
.box-section .box-sectionBody .sectionBody-head .sectionBody-headright {
  margin-right: 8px;
  flex: 1;
  margin-top: 6px;
}
.box-section .box-sectionBody .sectionBody-bodyList {
  display: flex;
  margin-bottom: 8px;
  padding-right: 80px;
  position: relative;
}
.box-section .box-sectionBody .sectionBody-bodyList .delete-field {
  position: absolute;
  right: 0px;
  padding: 6px 10px;
  display: none;
}
.box-section .box-sectionBody .sectionBody-bodyList:hover .delete-field {
  display: block;
}
.box-section .box-sectionBody .sectionBody-bodyList .icon-move {
  color: #a3a3a3;
  margin-right: 12px;
  align-self: center;
}

#FormControlSelectDropdown:disabled {
  width: 105px;
}

.btn-setting {
  color: #959595;
  font-size: 14px;
  border: 0;
}
.btn-setting:hover {
  color: #2e9df0;
  border: 0;
}
.btn-setting:active {
  color: #2e9df0;
  background: transparent;
}

.new-section {
  color: #959595;
  border: 1px solid #e1ebef;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  margin-bottom: 12px;
  cursor: pointer;
}
.new-section:hover {
  color: #2e9df0;
  border: 1px solid #2e9df0;
}

.nav-pills .nav-item .active {
  color: #2e9df0;
  border: 1px solid #2e9df0;
}

/* Change background color of buttons on hover */
.tab {
  border: 1px solid #e1ebef;
}

/* Style the buttons inside the tab */
.tab-button, .inprocess-list-normal, .inprocess-list-upcoming, .inprocess-list-complete {
  display: block;
  background-color: inherit;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  padding: 0px 12px;
  color: #959595;
  border-bottom: 1px solid #e1ebef;
  border-left: 5px solid #e1ebef;
  height: 64px;
  display: flex;
}

.tab-button.active, .active.inprocess-list-normal, .active.inprocess-list-upcoming, .active.inprocess-list-complete {
  border: 1px solid #2e9df0;
  border-left: 5px solid #2e9df0;
}

.tab-div {
  height: 64px;
  font-size: 14px;
  padding: 10px 12px 10px 34px;
  color: #959595;
  border-bottom: 1px solid #e1ebef;
  border-left: 5px solid #e1ebef;
}

.date-box {
  margin-top: 10px;
  display: flex;
}
.date-box input {
  width: 54px;
  margin-right: 12px;
}

.icon-small-size-member {
  color: #959595;
  background: #ccc;
  margin-right: 8px;
}

.properties-box {
  margin-bottom: 8px;
}
.properties-box label {
  color: #222;
  font-size: 14px;
}
.properties-box .properties-content {
  display: flex;
}
.properties-box .properties-content span {
  color: #222;
  align-self: center;
  font-size: 12px;
}

/* ------------------------------ */
/* ------------------------------ */
@media (min-width: 767.98px) and (max-width: 824px) {
  #Btnstartprocess-text {
    display: none;
  }
}
@media (max-width: 529px) {
  .dateBox-process {
    display: none;
  }
}
.process li:hover {
  background: transparent;
}
.process .process-text-box {
  width: 50%;
}

.process-title {
  margin: 24px 0 8px 16px;
  font-size: 14px;
}

.process-groupHead {
  height: 50px;
  padding-left: 16px;
  background: #fafafa;
  display: flex;
  align-items: center;
}

.finish-process {
  border: 1px solid #4abc3b;
  background-color: #4abc3b;
}

.next-process {
  border: 1px solid #d8d8d8;
  background-color: #d8d8d8;
}

.unfinish-process {
  border: 1px solid #d8d8d8;
  background-color: #FFF;
}

.late-process {
  border: 1px solid #F75F5F;
  background-color: #F75F5F;
}

#boxA {
  display: block;
}

#boxB, #boxC, #boxD, #boxE {
  display: none;
}

/* ------------------------------ */
/* ------------------------------ */
#btn-commentSide, #btn-OpenComment {
  margin-left: 12px;
  display: none;
}

@media (max-width: 1027px) {
  .tab-inprocess {
    display: none;
  }
}
@media (max-width: 1022px) {
  #btn-commentSide {
    display: inline;
  }

  .tab-inprocess {
    display: inline;
  }

  #LeftSide-item {
    display: block;
  }

  #RightSide-comment {
    display: none;
  }
}
@media (max-width: 582px) {
  .tab-inprocess {
    display: none;
  }
}
@media (max-width: 390px) {
  #btn-calender, #dueCalender {
    margin: 0;
  }

  #btn-commentSide {
    margin: 0 0 0 5px;
  }
}
@media (max-width: 545px) {
  .head-title-h90 {
    padding: 16px 8px 16px 28px;
  }

  .link-intamplate p {
    font-size: 10px;
  }

  #LeftSide-item {
    padding: 0;
  }

  .content-body-headTitle90 {
    padding: 0 16px;
  }
}
.modalTask-listUser {
  height: 250px;
  overflow-y: auto;
  border: 1px solid #ced4da;
  margin-top: 6px;
  padding: 8px;
}
.modalTask-listUser .user-list {
  margin-bottom: 12px;
  height: 24px;
  border-radius: 8px;
  display: flex;
}
.modalTask-listUser .user-list:hover {
  background: #eeeeee;
}
.modalTask-listUser .user-list .text-nameUser {
  margin-left: 5px;
  font-size: 12px;
  align-self: center;
}

.content-body-bodyTitle90 {
  height: calc(100% - 64px);
}

.Assign-box {
  display: none;
  font-size: 12px;
}
.Assign-box span {
  color: #2e9df0;
}
.Assign-box span:hover {
  color: #56b5fd;
}

.inprocess-list-normal:hover h4, .inprocess-list-upcoming:hover h4, .inprocess-list-complete:hover h4 {
  color: #2e9df0 !important;
}
.inprocess-list-normal:hover .Assign-box, .inprocess-list-upcoming:hover .Assign-box, .inprocess-list-complete:hover .Assign-box {
  display: inline;
}

.inprocess-list-complete {
  border-left: 5px solid #4abc3b;
}

.inprocess-list-upcoming {
  background: #f8f8f9;
}
.inprocess-list-upcoming .text-left {
  color: #cacaca;
}
.inprocess-list-upcoming:hover .text-left h4 {
  color: #cacaca !important;
}

@media (max-width: 545px) {
  #content-body-headTitle90Inpro {
    height: calc(100% - 125px);
  }

  .head-title-h90 .btn-setleft button {
    margin: 3px 0 0 0;
  }
}
.box-inprocess {
  display: flex;
}
.box-inprocess .box-inprocess-left {
  padding-right: 25px;
  flex: 1.1;
}
.box-inprocess .box-inprocess-left header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 545px) {
  .box-inprocess .box-inprocess-left #headInprocess {
    display: block;
    height: 90px;
  }
  .box-inprocess .box-inprocess-left #headInprocess div {
    margin: 3px 0;
  }
}
.box-inprocess .box-inprocess-right {
  flex: 1;
}
.box-inprocess .box-inprocess-right header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-head:hover span:first-child {
  cursor: pointer;
  color: #2e9df0;
}

.task-body {
  margin: 12px 0;
  padding: 0 16px 0 12px;
  border-left: 2px solid #e1ebef;
}
.task-body .person-comment {
  display: flex;
  margin-bottom: 10px;
}
.task-body span {
  margin-right: 2px;
  align-items: center;
}
.task-body .comment-file-box {
  height: 40px;
  margin-top: 8px;
  display: flex;
  background: #f5f5f5;
  padding: 12px;
  align-items: center;
}
.task-body .comment-file-box i {
  font-size: 21px;
  margin-right: 12px;
  color: #2e9df0;
}

.file-box {
  border: 1px solid #e1ebef;
  padding: 0 12px;
  height: 64px;
  display: flex;
  align-items: center;
}
.file-box .file-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.file-box .file-text-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.history-box {
  padding: 12px;
  color: #a3a3a3;
}
.history-box li {
  margin-bottom: 16px;
}
.history-box .gray, .history-box .red, .history-box .yellow, .history-box .green {
  padding-left: 16px;
  position: relative;
}
.history-box .gray ::after, .history-box .red ::after, .history-box .yellow ::after, .history-box .green ::after {
  position: absolute;
  top: 24px;
  left: 0;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #e8e8e8;
}
.history-box .green ::after {
  background: #4abc3b;
}
.history-box .yellow ::after {
  background: #f9d83c;
}
.history-box .red ::after {
  background: #F75F5F;
}
.history-box .date {
  color: #222;
  margin-bottom: 2px;
  display: block;
}

.comment-file {
  margin-top: 8px;
  display: flex;
  background: #f5f5f5;
  padding: 12px;
  align-items: center;
  width: 100%;
}
.comment-file i {
  font-size: 21px;
  margin-right: 12px;
  color: #2e9df0;
}

.comment-box {
  height: calc(100% - 76px);
  overflow-y: auto;
}

.comment-chat {
  padding: 24px 12px 12px 12px;
  border-top: 1px solid #e1ebef;
}
.comment-chat .inner-chat {
  height: 38px;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.comment-chat .inner-chat .file-input-wrapper {
  display: flex;
}
.comment-chat .inner-chat .file-input-wrapper .file-input-button {
  color: #cacaca;
  border-right: 1px solid #cacaca;
  padding: 9px 10px 5px 10px;
  margin: 0px;
  height: 38px;
  font-size: 14px;
}
.comment-chat .inner-chat .file-input-wrapper .file-input-button:hover {
  color: #2e9df0;
}
.comment-chat .inner-chat .file-input-wrapper input {
  display: none;
}
.comment-chat .inner-chat input {
  flex: 3;
  height: 38px;
  border: 0;
  padding: 5px 12px;
}
.comment-chat .inner-chat input:focus {
  border: 0;
  box-shadow: 0 0 0px !important;
  outline: none;
}
.comment-chat .inner-chat button {
  height: 38px;
  color: #cacaca;
  border-left: 1px solid #cacaca;
  border-radius: 0;
}
.comment-chat .inner-chat button:hover {
  color: #2e9df0;
}
.comment-chat .inner-chat button:active {
  color: white;
  background: #2e9df0;
}

#show-calender {
  display: none;
  text-align: right;
}

.date-text {
  display: none;
}

/* ------------------------------ */
/* ------------------------------ */
.profile li {
  margin-right: 12px;
}

.profile .active {
  color: #2e9df0;
  border-color: #2e9df0;
}

@media (max-width: 485px) {
  .profile .btn-normal span, .profile .dropbtn span, .profile .dropbtnprocess span, .profile .btn-icon-link span, .profile .btn-groupDelete span {
    display: none;
  }
}
/*ส่วนเนื้อหา*/
.content-body-profile {
  padding: 45px;
  font-size: 12px;
  border: 1px solid #dbdbdb;
}

@media (max-width: 446px) {
  .content-body-profile {
    padding: 25px 5px 25px 15px;
  }
}
.content-body-profile .tab-content {
  margin: 0;
}

/*Tab ::  General Set*/
.defualt-avatar-upload {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  background: #B8E17D;
}

.avatar-upload {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  display: none;
}

/*กล่องด้านข้างรูป avatar*/
.box-side-avatar {
  position: relative;
  width: 100%;
}

.box-side-avatar p {
  margin-bottom: 0;
  text-decoration: none;
  color: #2e9df0;
  cursor: pointer;
}

#up-img label {
  position: absolute;
  top: 31px;
  color: #2e9df0;
  cursor: pointer;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.box-side-avatar .change-photo {
  color: #2e9df0;
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 16px;
  display: none;
}

#changephoto {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.profile-GeneralSet-form, .profile-password-form {
  display: flex;
  margin-top: 24px;
}

.profile-GeneralSet-form-label {
  margin-right: 12px;
  width: 80px;
}

.profile-GeneralSet-form-label label {
  margin: 6px 0 0 0;
}

.box-side-avatar .discri-photo {
  color: #959595;
  font-size: 11px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

/*Tab ::  Notification*/
#Check-all, #Uncheck-all {
  text-decoration: none;
  color: #2e9df0;
  cursor: pointer;
}

.container-fluid {
  padding: 0;
}

.list-check {
  width: 100%;
  margin: 8px 0;
}

.list-check-box div {
  margin-top: 16px;
}

.custom-checkbox label {
  line-height: 2.1;
}

/*Tab ::  Password*/
.profile-password-form-label {
  margin-right: 12px;
  width: 150px;
}

.password-error > input, .password-error > input:focus {
  border: 1.5px solid #F75F5F !important;
  box-shadow: 0 0 0px !important;
}

.error-text {
  color: #F75F5F;
  font-size: 12px;
  display: none;
}

/* ------------------------------ */
/* ------------------------------ */
@media (max-width: 567px) {
  .tabHead-webSet {
    display: none;
  }
}
@media (max-width: 410px) {
  .tabInnerConnet {
    display: none;
  }
}
#RightSide-user, #RightSide-group {
  display: none;
}

.webSet-mem {
  border-top: 1px solid #e1ebef;
  overflow-y: scroll;
}
.webSet-mem a {
  color: #222;
  padding: 16px;
}
.webSet-mem a:hover h4 {
  color: #2e9df0;
}
.webSet-mem .nav {
  border: 1px solid #e1ebef;
}
.webSet-mem .nav-pills .nav-link {
  border-radius: 0;
  border-bottom: 1px solid #e1ebef;
}
.webSet-mem .nav-pills .nav-link.active, .webSet-mem .nav-pills .show > .nav-link {
  color: #222;
  background: transparent;
  border: 1px solid #2e9df0;
  border-radius: 0;
}

.header-invite {
  align-items: center;
  text-align: center;
}
.header-invite h3 {
  font-size: 16px;
}

.content-invite li {
  margin-bottom: 12px;
}

.boxSelectaddGroupToUser, .boxSelectUserToGroup {
  display: none;
  margin: 5px 0;
}

.groups-list, .user-list {
  margin: 5px 0;
}

#btnset-SaveRename, #inputGroup {
  display: none;
}

.defualt-logo-upload {
  width: 120px;
  height: 40px;
  background: #B8E17D;
}

.logo-upload {
  width: 120px;
  height: 40px;
  display: none;
}

.logo-box #up-logo p {
  margin-top: 8px;
}
.logo-box #up-logo label {
  cursor: pointer;
  font-size: 12px;
  color: #2e9df0;
  margin: 0;
}
.logo-box .change-logo {
  display: none;
}
.logo-box .change-logo label, .logo-box .change-logo p {
  font-size: 12px;
  color: #2e9df0;
  margin: 0;
  cursor: pointer;
}

.Non-working-day {
  margin-top: 3px;
  padding-left: 15px;
}
.Non-working-day .custom-checkbox {
  margin-right: 8px;
}

.holiday #box-holiday {
  margin: 8px 0;
}
.holiday .inputHoliday {
  display: none;
}
.holiday .inputHoliday input {
  margin-right: 8px;
  width: 35%;
}
.holiday .inputHoliday input:first-child {
  width: 20%;
}
.holiday .inputHoliday button {
  margin-right: 8px;
}
.holiday .delete-Holiday {
  cursor: pointer;
  color: #959595;
}

/* ------------------------------ */
/* ------------------------------ */
.focus-noBoxShadow:focus, .drop-btn-item-section:focus, .mini-icon-btn:focus, .btn-modelUser-delete:focus, .btn-icon-add:focus, .btn-unclick:focus, .btn-green:focus, .btn-delete:focus, .btn-normal:focus, .dropbtn:focus, .dropbtnprocess:focus, .btn-icon-link:focus, .btn-groupDelete:focus, .btn:focus, input:focus, textarea:focus, select:focus, .btn-setting:focus {
  box-shadow: 0 0 0px !important;
}

.btn-normal, .dropbtn, .dropbtnprocess, .btn-icon-link, .btn-groupDelete {
  color: #959595;
  border: 1px solid #cacaca;
  border-radius: 50px;
  font-size: 14px;
}
.btn-normal:hover, .dropbtn:hover, .dropbtnprocess:hover, .btn-icon-link:hover, .btn-groupDelete:hover {
  color: #2e9df0;
  border: 1px solid #2e9df0;
}
.btn-normal:active, .dropbtn:active, .dropbtnprocess:active, .btn-icon-link:active, .btn-groupDelete:active {
  color: white;
  background: #2e9df0;
}

.btn-groupDelete:hover {
  color: #F75F5F;
  border: 1px solid #F75F5F;
}
.btn-groupDelete:active {
  color: white;
  background: #F75F5F;
}

.btn-icon-link {
  color: #2e9df0;
  border: 1px solid #2e9df0;
  padding: 6px 10px;
}
.btn-icon-link:active {
  color: #2e9df0;
  background: transparent;
}

.btn-delete {
  color: white;
  background: #F75F5F;
  border-radius: 50px;
  font-size: 14px;
}
.btn-delete:hover {
  color: white;
}
.btn-delete:active {
  color: white;
  background: #F75F5F;
}

.btn-green {
  color: white;
  background: #4abc3b;
  border-radius: 50px;
  font-size: 14px;
}
.btn-green:hover {
  color: white;
  background: #59dd47;
}
.btn-green:active {
  color: white;
  background: #59dd47;
}

/* ปุ่มที่ยังกดไม่ได้ */
.btn-unclick {
  color: #959595;
  background: #E8E8E8;
  border-radius: 50px;
  font-size: 14px;
  cursor: not-allowed;
}
.btn-unclick:hover {
  color: #959595;
}

.btn-icon-add {
  background: transparent;
  color: #959595;
  height: 64px;
  border: 0;
  margin: 0;
  display: flex;
}
.btn-icon-add .add-icon {
  height: 40px;
  width: 40px;
  border: 1px dashed #cacaca;
  margin-right: 12px;
  display: flex;
  justify-content: center;
}
.btn-icon-add .add-icon i {
  font-size: 16px;
  align-self: center;
}
.btn-icon-add .add-text {
  align-self: center;
  margin-right: 50px;
}
.btn-icon-add .i-folder {
  color: #ccc;
  font-size: 38px;
  margin-right: 12px;
}
.btn-icon-add:hover .add-text {
  color: #2e9df0;
}
.btn-icon-add:hover .add-icon {
  color: #2e9df0;
  border: 1px dashed #2e9df0;
}
.btn-icon-add:hover .i-folder {
  color: #2e9df0;
}

.btn-modelUser-delete {
  color: #959595;
  border: 1.5px solid #cacaca;
  border-radius: 50px;
  font-size: 12px;
  padding: 4px 8px;
  height: 28px;
}
.btn-modelUser-delete:hover {
  color: #959595;
}

.btn-setleft button, .btn-setleft a {
  margin-left: 12px;
}

.btn-setright button, .btn-setright a {
  margin-right: 12px;
}

.btn-set button, .btn-set a {
  margin-right: 8px;
}

/* ------------------------------ */
/* ------------------------------ */
.img-small-menu {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.img-small, .img-big, .img-medium {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.img-small p, .img-big p, .img-medium p {
  font-size: 11px;
  color: white;
  align-self: center;
  margin-bottom: 0;
}

.img-medium {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.img-medium p {
  font-size: 14px;
}

.img-big {
  width: 80px;
  height: 80px;
  border-radius: 16px;
}
.img-big p {
  font-size: 20px;
}

.img-logo {
  width: 120px;
  height: 40px;
}

/* ------------------------------ */
/* ------------------------------ */
.icon-small-size, .icon-small-size-member {
  height: 24px;
  width: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.icon-small-size i, .icon-small-size-member i {
  font-size: 14px;
  align-self: center;
}

.icon-medium-size, .icon-medium-size-f24, .icon-medium-size-f20, .icon-medium-size-f16, .icon-medium-size-f16-Inprocess {
  height: 40px;
  width: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}
.icon-medium-size i, .icon-medium-size-f24 i, .icon-medium-size-f20 i, .icon-medium-size-f16 i, .icon-medium-size-f16-Inprocess i {
  align-self: center;
}

.icon-medium-size-f16, .icon-medium-size-f16-Inprocess {
  font-size: 16px;
}

.icon-medium-size-f16-Inprocess {
  border: 1px dashed #959595;
}

.icon-medium-size-f20 {
  font-size: 20px;
}

.icon-medium-size-f24 {
  font-size: 24px;
}

.icon-big-size-f20 {
  height: 80px;
  width: 80px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}
.icon-big-size-f20 i {
  font-size: 30px;
  align-self: center;
}

.icon-select {
  height: 40px;
  width: 40px;
  border: 2px dashed #9d9d9d;
  border-radius: 12px;
  margin-right: 12px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.icon-select i {
  color: #9D9D9D;
  font-size: 20px;
  align-self: center;
}
.icon-select:hover {
  border: 2px dashed #2e9df0;
}
.icon-select:hover i {
  color: #2e9df0;
}

.icon-btn {
  padding: 6px 10px;
  color: #cacaca;
  border: 1px solid #cacaca;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}
.icon-btn:hover {
  color: #2e9df0;
  border: 1px solid #2e9df0;
}

.mini-icon-btn {
  color: #959595;
  border: 1px solid #cacaca;
  font-size: 10px;
  border-radius: 50px;
  padding: 4px 7px;
}
.mini-icon-btn:hover, .mini-icon-btn:active {
  color: #959595;
  border: 1px solid #cacaca;
}

.icon-back-startProcess, .icon-back-inprocess, .icon-back-intemplate {
  position: absolute;
  padding: 2px 7px;
  top: 17px;
  left: 4px;
}
.icon-back-startProcess:hover, .icon-back-inprocess:hover, .icon-back-intemplate:hover {
  color: #2e9df0;
  cursor: pointer;
}

.icon-back-intemplate {
  top: 17px;
  left: 2px;
}

.icon-back-inprocess {
  top: 27px;
  left: 2px;
}

.icon-inprocess span {
  margin-left: 10px;
}

/* ------------------------------ */
/* ------------------------------ */
.text-sub, .text-sub-mini {
  font-size: 12px;
  color: #959595;
  margin-bottom: 0;
}

.text-green {
  font-size: 12px;
  color: #4abc3b;
  margin-bottom: 0;
}

.text-sub-mini {
  font-size: 9px;
}

.no-marginBottom, .text-f21, .text-f12, .link-date, .text-error, .history-box, .text-f14, .text-f15, .text-f16, .text-f20 {
  margin-bottom: 0px;
}

.text-f20 {
  font-size: 20px;
}

.text-f16 {
  font-size: 16px;
}

.text-f15 {
  font-size: 15px;
}

.text-f14 {
  font-size: 14px;
}

.text-f12, .link-date, .text-error, .history-box {
  font-size: 12px;
}

.text-error {
  color: #F75F5F;
  visibility: hidden;
}

/* ------------------------------ */
/* ------------------------------ */
.box-normal, .box-condition li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-one, .box-normal-left, .tab-div, .Non-working-day {
  display: flex;
  align-items: center;
}

.box-normal-left {
  flex: 2;
}

.box-flex-Templatetitle {
  display: flex;
  flex: 2;
  height: 50px;
  margin-top: 5px;
}

.box-two-side {
  height: 100%;
  display: flex;
}
.box-two-side .box-left-side {
  padding-right: 16px;
  height: 100%;
  flex: 1;
}
.box-two-side .box-right-side {
  padding: 16px 24px 0 32px;
  height: 100%;
  flex: 1;
}

.box-scroll {
  overflow-x: auto;
  overflow-y: scroll;
}

.box-left-right {
  display: flex;
  align-items: center;
}
.box-left-right .box-left {
  flex: 1;
}
.box-left-right .box-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.box-left-right .box-right-img {
  margin-right: 8px;
  align-self: center;
}

.link-noEffect {
  text-decoration: none;
  color: transparent;
}
.link-noEffect:hover {
  text-decoration: none;
}

.link-ingroup {
  font-size: 12px;
  color: #2e9df0;
}
.link-ingroup:hover {
  text-decoration: none;
}

.link-date {
  color: #959595;
}
.link-date:hover {
  color: #2e9df0;
  cursor: pointer;
  text-decoration: none;
}

.link-intamplate {
  color: #959595;
  border-bottom: 1px solid #959595;
}
.link-intamplate:hover {
  text-decoration: none;
  color: #959595;
  border-bottom: 1px solid #959595;
}

.modal-body {
  padding: 32px;
}
.modal-body .modal-section {
  overflow-y: auto;
  height: 200px;
  margin: 12px 8px 0 0;
}
.modal-body .modal-input-upload {
  background: white;
}

.form-line {
  display: flex;
  margin-top: 24px;
  font-size: 12px;
}

.form-model-template {
  margin-top: 12px;
}

.form-model-template-button {
  margin-top: 24px;
  text-align: center;
}
.form-model-template-button button {
  margin-right: 5px;
}

.input-Title, .input-sectionName {
  font-size: 21px;
  padding: 0;
  border: 0;
  margin: 0;
  height: 28px;
}
.input-Title:hover, .input-sectionName:hover {
  border: 1px solid #e1ebef;
}
.input-Title:focus, .input-sectionName:focus {
  border: 0 !important;
}

.input-sectionName {
  font-size: 16px;
  background: transparent !important;
}
.input-sectionName:hover {
  border: 0;
}

.input-right-fullWidth {
  width: calc(100% - 162px);
}

.input-w60 {
  width: 60px;
}

.input-w340 {
  max-width: 340px;
}

.select-w130 {
  max-width: 130px;
}

.input-error {
  border-color: #F75F5F;
}
.input-error:focus {
  border-color: #F75F5F;
}

.label-normal label, .label-w150 label {
  margin: 8px 0 0 0;
}

.label-w180, .label-w110 {
  margin-right: 12px;
}
.label-w180 label, .label-w110 label {
  width: 180px;
  margin: 8px 0 0 0;
  font-weight: bold;
}

.label-w170 {
  margin-right: 12px;
}
.label-w170 label {
  width: 170px;
  margin: 8px 0 0 0;
  font-weight: bold;
}

.label-w150 label {
  width: 150px;
  font-weight: bold;
}

.label-w110 label {
  width: 110px;
}

.dropbtn, .dropbtnprocess {
  position: relative;
  width: 55px;
}
.dropbtn ::after, .dropbtnprocess ::after {
  content: "▾";
  margin-left: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 8px;
}

.dropdown-sizeField {
  min-width: 110px;
}

.dropdown-sizeData {
  min-width: 80px;
}

.dropdown-contentSection, .dropdown-contentProcess {
  display: none;
  position: absolute;
  background-color: white;
  overflow: auto;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-contentSection div, .dropdown-contentProcess div {
  font-size: 14px;
  padding: 8px;
  text-decoration: none;
  display: block;
  color: #222;
}
.dropdown-contentSection div i, .dropdown-contentProcess div i {
  color: #959595;
  margin-right: 5px;
}
.dropdown-contentSection div:hover, .dropdown-contentProcess div:hover {
  color: #2e9df0;
  cursor: pointer;
}

.dropdown-input {
  width: 110px;
  margin-right: 8px;
}

.dropinput {
  position: relative;
  width: 55px;
}

.dropdown-contentperson {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  height: 200px;
  overflow-y: scroll;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-contentperson li .div-first, .dropdown-contentperson li .indiv-secound {
  font-size: 14px;
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.dropdown-contentperson li .icon-person {
  color: #ccc;
  margin: 0 8px 0 3px;
  align-self: center;
  cursor: pointer;
}
.dropdown-contentperson li .indiv-secound {
  margin-left: 40px;
  font-size: 12px;
  align-items: center;
}

.show {
  display: block;
}

.dropdown-contentProcess {
  right: 0px;
}

.drop-btn-item-section {
  width: 100px;
  color: #959595;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
}
.drop-btn-item-section:active {
  color: white;
  border: 1px solid #2e9df0;
}
.drop-btn-item-section .show {
  border: 1px solid #2e9df0;
}

.hidden-itemSection {
  visibility: hidden;
}

.show-itemSection {
  visibility: visible !important;
}
.show-itemSection i {
  color: #4abc3b !important;
}

.card {
  background: #fafafa;
  margin: 0 8px 16px;
}
.card .card-body {
  width: 225px;
  height: 240px;
  position: relative;
}
.card .card-body .card-top {
  display: flex;
  justify-content: center;
}
.card .card-body .card-middle {
  margin-top: 16px;
}
.card .card-body .card-bottom {
  display: flex;
  justify-content: center;
}
.card .card-body .card-bottom p {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: inline;
}
.card .card-body .card-bottom button {
  display: none;
  position: absolute;
  bottom: 24px;
}
.card:hover {
  background: #E8E8E8;
}
.card:hover .card-bottom p {
  display: none;
}
.card:hover .card-bottom button {
  display: block;
}

.datepicker--cell,
.datepicker,
.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  z-index: 10000 !important;
}

.tooltip {
  font-size: 12px;
}

.text-f21 {
  font-size: 21px;
}

@media (max-width: 729px) {
  .tabHead-InTem, .box-UserCreate {
    display: none;
  }

  .box-left-right .box-right {
    justify-content: flex-end;
    flex: 0.5;
  }
}
@media (max-width: 483px) {
  .box-flex-Templatetitle h1 {
    font-size: 16px !important;
  }

  #mobileSizeBtnHeader button:last-child {
    margin-left: 0px;
    font-size: 10px;
    padding: 4px 11px;
  }
  #mobileSizeBtnHeader a {
    margin-left: 0px;
    font-size: 10px;
    padding: 9px 11px;
  }
}
/* ------------------------------ */
/* ------------------------------ */
.taskdefault, .approvaldefault, .groupdefault,
#apprpval, #group, .sectionItem {
  visibility: hidden;
  height: 0;
}

/*# sourceMappingURL=style.css.map */
